body, .comment-form button, .comment-form textarea {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}

.comment-form button, textarea {
    font-size: 18px;
}

.comment-form button:focus, textarea:focus {
    outline: none;
}


.block-article {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    color: white;
}

.upper-block {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 3vh auto 0;
}

.article-body, .owner-funcs a, .comment-form textarea, .comment-form button, .comment {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #777;
}

.article-body {
    width: 90%;
    padding: 1%;
    margin: 2vh auto;
}

.article-info {
    width: 90%;
    margin: 3vh auto;
}

.article-info ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-size: 18px;
}

.article-info a, .comment-info a {
    text-decoration: underline;
    color: white;
}

.article-info a:hover, .comment-info a:hover {
    color: #3875d7;
}

.owner-funcs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 25%;
}

.owner-funcs a {
    text-align: center;
    text-decoration: none;
    padding: 1% 4%;
    font-size: 18px;
    line-height: 100%;
}

.owner-funcs a:hover, #article_delete:hover {
    color: #555;
}

#article_delete {
    border: 2px solid red;
}

.comment-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2vh auto;
}

.comment-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.comment-form textarea {
    width: 100%;
    resize: none;
    padding: 0.5% 1.5%;
}

.comment-form textarea::-webkit-input-placeholder {
    color: #bbbbbb;
}

.comment-form button {
    height: 20%;
    line-height: 3vh;
    margin: 1vh 0 0 auto;
    padding: 0 2%;
}

.comment-form button:hover {
    color: #555;
    cursor: pointer;
}

.comment {
    cursor: default;
    font-size: 18px;
    margin-top: 2vh;
    padding: 0.5% 1.5%;
}

.comment-info ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}