.form {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 5vh auto;
}

.form-theme, .form-text {
    width: 50vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-text, .form-theme, #id_text, #id_theme, #form-button {
    font-family: monospace;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.form-text {
    margin-top: 3vh;
    margin-bottom: 0;
    height: 30vh;
}


#id_theme, #id_text, #form-button {
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding: 0.5%;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: #777777;
    font-size: 18px;
}

#id_text {
    resize: none;
}

#id_text:focus, #id_theme:focus, #form-button:focus {
    outline: none;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#form-button {
    width: 10vw;
    font-size: 20px;
}

