{% extends 'user/main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="block-article">
        <div class="upper-block">
            <div class="artcile-theme">
                {{ article.theme }}
            </div>
            <div class="owner-funcs">
                {% if article.author == request.user %}
                    <a id="article_delete" href="{% url 'delete_article' article_id=article.id %}">Удалить статью</a>
                    <a href="{% url 'update_article' article_id=article.id %}">Изменить статью</a>
                {% else %}
                    <label for="up" type="button">Мне нравится</label>
                    <input id="up" type="button" name="rating" value="True" hidden>
                {% endif %}
            </div>
        </div>

        <div class="article-body">
            {{ article.text|linebreaks }}
        </div>

        <div class="article-info">
            <ul>
                <li>Автор: <a href="{% url 'profile_detail' pk=article.author.id %}">{{ article.author }}</a><br/>
                    Дата публикации: {{ article.pub_date|date:"d.m.Y H:i" }}</li>
                <li>Рейтинг: {{ article.rating_set.all|length }}<br/>
                    Комментариев: {{ article.comment_set.all|length }}</li>
                <a href="{% url 'update_rating' article_id=article.id %}">Update</a>
            </ul>
        </div>

        <div class="comment-section">

            <form method="post" class="comment-form" name="comment-form" action="{% url 'create_comment' %}">
                {% csrf_token %}
                <textarea name="body" type="text" rows="10"></textarea>
                <input hidden name="article" value="{{ article.id }}">
                <button>Отправить</button>
            </form>

            <div class="comments-block">
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-body">
                            {{ comment.body }}
                        </div>
                        <div class="comment-info">
                            <ul>
                                {% if comment.auth_user %}
                                    <li>
                                        <a href="{% url 'profile_detail' pk=comment.auth_user.id %}">{{ comment.username }}</a>
                                    </li>
                                {% else %}
                                    <li>Гость</li>
                                {% endif %}
                                <li>{{ comment.pub_date|date:"j.n.Y H:i" }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}

