{% extends 'user/main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
    <div class="profile">
        <div class="user-info">
            {% if user.id == request.user.id %}
                <form method="post" class="user-form">
                    {% csrf_token %}
                    <ul class="info-list">
                        <li>
                            <label for="id_login" class="info-label">Логин</label>
                            <input id="id_login" name="username" class="info-input" value="{{ user.username }}">
                        </li>
                        <li>
                            <label for="id_first_name" class="info-label">Имя</label>
                            <input id="id_first_name" name="first_name" class="info-input"
                                   value="{{ user.first_name }}">
                        </li>
                        <li>
                            <label for="id_last_name" class="info-label">Фамилия</label>
                            <input id="id_last_name" name="last_name" class="info-input" value="{{ user.last_name }}">
                        </li>
                    </ul>
                    <button class="info-button" type="submit">Изменить личные данные</button>
                </form>
            {% else %}
                <ul class="info-list">
                    <li>Логин: {{ user.username }}</li>
                    {% if user.first_name %}
                        <li>Имя: {{ user.first_name }}</li>
                    {% endif %}
                    {% if user.last_name %}
                        <li>Фамилия: {{ user.last_name }}</li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="user-articles">
            <p class="articles-count">Всего статей: {{ object_list|length }}</p>

            <form method="get" name="filter">
                <input id="search" name="search-request" type="text" {% if sr %}value="{{ sr }}"{% endif %}>
                <select id="sort" name="sort">
                    <option value="new">Новые по дате</option>
                    <option value="old">Старые по дате</option>
                    <option value="rate-desc">Рейтинг по убыванию</option>
                    <option value="rate-asc">Рейтинг по возрастанию</option>
                </select>
                <button>Поиск</button>
            </form>

            <div class="article-block">
                <ul class="article-list">
                    {% for article in object_list %}
                        <li>
                            <a class="article-link" href="{% url 'article_detail' article_id=article.id %}">
                                {{ article.theme }}
                            </a>
                            {{ article.pub_date|date:"d.m.Y H:i" }}
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">На первую</a>
                        |
                        <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
                        |
                    {% endif %}
                    <span class="current">
                        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        |
                        <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
                        |
                        <a href="?page={{ page_obj.paginator.num_pages }}">На последнюю</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </div>
        {% if user.id == request.user.id %}
            <div class="bottom-section">
                <a class="delete-button" href="{% url 'delete_profile' %}">Удалить аккаунт</a>
                <a class="delete-button" href="{% url 'logout' %}">Выйти</a>
            </div>
        {% endif %}
    </div>
{% endblock %}